footer {
    background-color: #222b37 !important;
    padding: 2rem !important;
    color: #fff !important;
}


html {
    scroll-behavior: smooth;
}

.pink{
    background-color: rgba(220, 51, 99, 1) !important;
}


.footer_text{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}